:root {
  --font: Inter, sans-serif;
  --text-color: hsl(0, 0%, 20%);
  --bg-color: hsl(0, 0%, 100%);
  --settings-panel: hsl(0, 0%, 95%);
  --settings-panel-divider: hsl(0, 0%, 80%);
  --settings-panel-color: hsl(0, 0%, 70%);
  --yellow: hsl(47, 86%, 55%);
}

/* Темная тема */
:root[data-theme='dark'] {
  --text-color: #fff;
  --bg-color: #404040;
  --settings-panel: #333;
  --settings-panel-divider: #4d4d4d;

  color-scheme: dark;
}

body {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Прижатие футера */
.wrapper {
  padding-top: calc((30 / 16) * 1rem);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: calc(970px + 15px * 2);
  padding: 0 15px;
  margin: 0 auto;
}

/* <HEADER>============================================================================== */

.header {
  margin-bottom: 110px;
}
.header__body {
  padding: calc((20 / 16) * 1rem) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc((15 / 16) * 1rem);
}
.header__title {
  font-weight: 700;
  font-size: calc((30 / 16) * 1rem);
  line-height: calc((36 / 30) * 100%);
}

/* </HEADER>============================================================================== */

/* <SETTINGS>============================================================================== */

.main__settings {
  margin-bottom: calc((60 / 16) * 1rem);
}
.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings__body {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--settings-panel);

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.settings__block {
  padding: 0 20px;
  border-right: 3px solid var(--settings-panel-divider);
  font-weight: 500;
  color: var(--settings-panel-color);
}
.settings__block > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.settings__block:first-child {
  padding-left: 0;
}
.settings__block:last-child {
  padding-right: 0;
  border: 0;
}

/* </SETTINGS>============================================================================== */
