/* Светлая тема */
:root {
  --bg-color-l: 100%;

  --font: Inter, sans-serif;
  --text-color: hsl(0, 0%, 20%);
  --bg-color: hsl(0, 0%, var(--bg-color-l));
  --text-gray: hsl(0, 0%, 70%);
  --text-red: hsl(0, 100%, 70%);
  --text-darkred: hsl(0, 60%, 55%);

  --settings-panel: hsl(0, 0%, 95%);
  --settings-panel-divider: hsl(0, 0%, 80%);
  --settings-panel-color: hsl(0, 0%, 70%);
  --yellow: hsl(47, 86%, 55%);
}

/* Темная тема */
:root[data-theme='dark'] {
  color-scheme: dark;

  --bg-color-l: 25%;

  --text-color: hsl(0, 0%, 100%);
  --text-gray: hsl(0, 0%, 55%);

  --settings-panel: hsl(0, 0%, 20%);
  --settings-panel-divider: hsl(0, 0%, 30%);
}

body {
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Прижатие футера */
.wrapper {
  padding-top: calc((30 / 16) * 1rem);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: calc(970px + 15px * 2);
  padding: 0 15px;
  margin: 0 auto;
}

/* <HEADER>============================================================================== */

.header {
  margin-bottom: 110px;
}
.header__body {
  padding: calc((20 / 16) * 1rem) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc((15 / 16) * 1rem);
}
.header__title {
  font-weight: 700;
  font-size: calc((30 / 16) * 1rem);
  line-height: calc((36 / 30) * 100%);
}

/* </HEADER>============================================================================== */

.main__body {
  display: flex;
  flex-direction: column;
  row-gap: calc((60 / 16) * 1rem);
}

/* <SETTINGS>============================================================================== */

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
}
.settings._hidden {
  opacity: 0;
  visibility: hidden;
}
.settings__body {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: var(--settings-panel);

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.settings__block {
  padding: 0 20px;
  border-right: 3px solid var(--settings-panel-divider);
  font-weight: 500;
  color: var(--settings-panel-color);
  display: flex;
  align-items: center;
  gap: 12px;
}
.settings__block:first-child {
  padding-left: 0;
}
.settings__block:last-child {
  padding-right: 0;
  border: 0;
}

/* </SETTINGS>============================================================================== */

/* <TEXT>============================================================================== */

.text {
  position: relative;
  height: calc((130 / 16) * 1em);
}
.text__body {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  cursor: default;
}
.text__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: default;
}
.text__passive,
.text__visual {
  font-size: calc((26 / 16) * 1rem);
  letter-spacing: calc((1 / 16) * 1em);
  line-height: 1.65;
  color: var(--text-gray);
}
.text__passive {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  transition: top 0.2s ease-in;
}
.text__visual {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  display: inline-block;
  color: var(--text-color);
}
.text__visual .correct-char {
  color: var(--text-color);
}
.text__visual .incorrect-char {
  color: var(--text-red);
}
.text__visual .incorrect-char.incorrect-in-end {
  color: var(--text-darkred);
}
.text__caret {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 3;

  display: inline-block;
  width: calc((3 / 16) * 1em);
  height: calc((35 / 16) * 1em);
  background-color: var(--yellow);
  border-radius: 50px;
  transition: left 0.2s ease-in, opacity 0.2s ease-in;
  animation: caret 0.7s ease-in-out infinite alternate-reverse;
}

@keyframes caret {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  opacity: 0;
  visibility: hidden;
}

.text__placeholder._blur {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.text__placeholder._blur::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  width: calc(100% + 20px);
  height: calc(100% + 20px);

  background-color: hsla(0, 0%, var(--bg-color-l), 0.6);
  backdrop-filter: blur(4px);
}

.text__placeholder._blur + .text__body .text__caret {
  opacity: 0;
  animation: none;
}

/* </TEXT>============================================================================== */

/* <BUTTONS>============================================================================== */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc((60 / 16) * 1rem);
}

.btns__btn {
  display: flex;
  background-color: transparent;
  font-size: 28px;
  padding: 3px;

  transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
}

.btns__btn._hidden {
  opacity: 0;
  visibility: hidden;
}

.btns__btn:focus-visible {
  box-shadow: 0 0 0 2px var(--settings-panel-color);
  border-radius: 3px;
}

/* </BUTTONS>============================================================================== */
